.img_BD{
    margin: 2rem;
    max-height:300px ;
    max-width: 500px;
}
.tabelas_BD{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.lista_cardnalidade{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}