.img_BD{
    margin: 2rem;
    max-height:300px ;
    max-width: 500px;
}
.tabelas_BD{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.lista_cardnalidade{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.postdreSQL{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 8%;
    gap: 10%;
    

}
.postdreSQL img{
    height: 200px;
    padding-left: 25%;
}
.postdreSQL p{
    max-width: 70%;
    padding: 1rem;
    text-align:left;
}