*{
    margin: 0px;
    
}

/*
font-family: 'Chakra Petch', sans-serif;
font-family: 'Josefin Slab', serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Play', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Source Code Pro', monospace;
font-family: 'Source Sans 3', sans-serif;
*/
header{
    position: fixed;
    z-index: 999;
    padding-top: 0.5%;
    width: 100vw;
    height: 45px; 
    font-family: 'Orbitron', sans-serif;
}
.menu{
    display: flex;
    flex-direction: row;
    align-items:center; /* flex-start */
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
}



header img{
    height: 35px;
}
header nav ul li{
    display: flex;
    opacity: 40%;

}
header nav ul{
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 30px;
}
header nav ul:hover{
    background-color: white;
    border-radius: 5px;
}
header nav ul li:hover{
    opacity: 100%;
    transition: 2s;
}

header nav ul li{
    list-style: none;
}

header nav ul li a{
    color: #0352b9;
    margin-right: 1.25rem;
}

header nav ul li a:hover{
    text-decoration: underline;
    
}


