
.secao_materia{
    padding: 8%;
    text-align: justify; 
}
#linguagemDeProgramacao h2{
    text-align: center;
    padding: 2rem;
}
#linguagemDeProgramacao p{
    padding-bottom: 1rem;
    padding-left: 1rem;
}
#linguagemDeProgramacao h4{
    padding-bottom: 0.2rem;
}
#linguagemDeProgramacao table{ 
    align-items: center;
    width: 100%;
    margin-bottom: 5rem;
    
}

.imagem_tabela{
    height: 50px;
}
#linguagemDeProgramacao table tbody tr{
    padding: 0 20px;
}
.cienciaDe_Dados p{
    padding-left: 1rem;
}
.cienciaDe_Dados h4{
    padding-bottom: 1rem;
}
.cienciaDe_Dados h5{
    padding-left: 0.5rem;
}
