.vsCode{
    width: 100%;
}
.vsCode .pagina_vsc{
    background-image: url(../../img/VisualStudioCode.png);
    background-repeat: none;
    background-size: cover;
    min-width: 50%;
    border-radius: 7px;
    
}
.vsCode .pagina_index{
    background-image: url(../../img/VisualStudioCodeBody.png);
    background-repeat: none;
    background-size: cover;
    min-width: 50%;
    border-radius: 7px;
}

.foto_texto{
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
}
.marcacao:hover{
    color: #e6580e;
    font-weight: 600;
}
.estilizacao:hover{
    color: #155cd8;
    font-weight: 600;
}
.programacao:hover{
    color: #ef9e0f;
    font-weight: 600;
}
.texto_vs a{
    cursor: pointer;
    color: black;
    
}
.texto_vs ul{
    font-size: 0.8rem;
}
ul .html_{
    color: #e6580e;
    font-weight: 600;
    list-style: none;
}
ul #css_{
    color: #155cd8;
    font-weight: 600;
    list-style: none;
}
ul #js_{
    color: #ef9e0f;
    font-weight: 600;
    list-style: none;
}
.tabela_tags{
    padding-left: 2rem;
    width: 100%; 
    
}
.texto_vs ul table{
    margin-bottom: 1rem;
}


.tabela_tags td{
    width: 161px;
}
mark{
    background-color: #6995e1;
}



