*{
    margin: 0%;
    
    
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
    display: block;
    text-align: -webkit-match-parent;
    color: black;
}
header{
    padding:5px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100px;
    background-color: rgb(255, 255, 255);
}
#fotoperfil{
    border-radius: 50%;
}
main{
    
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    flex-direction: row
    
}
nav{
    
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: space-around;

    margin-left: 4px;
    width: 19%;
    background-color: rgb(255, 255, 255);
    border:solid;
    border-color: black;
    
}
article{
    width: 60%;
    background-color: rgb(255, 255, 255);
    border:solid;
    border-color: black;
    
}
aside{
    margin-right: 4px;
    width: 19%;
    background-color: rgb(255, 255, 255);
    border:solid;
    border-color: black;
}
footer{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border:solid;
    border-color: black;
}




/*        */
nav a { 
    color:rgb(0, 19, 58); text-decoration: none;}
nav ul{
    list-style: none;
    color: black;
     
}
nav h3{
    padding-left: 25%;
}

nav ul :hover{
    margin: 0px;
    padding: 0px;
    height: 140px;
    transition: 3s;
    translate: 28px 0px 0px;
    
}

nav ul ul li{
    display: none;
    opacity: 00%;
    
   
    
}

nav ul li :hover>li{
    margin-left: 20px;
    height: 30px;
    transition: 2s;
    display: block;
    opacity: 100%;
}
nav ul ul li{
    width: 150px;
    padding-top: 4px;
    font: bold;
    font-style: oblique;
    color: rgba(58, 95, 146, 0.671);

    
}
nav ul ul li:hover{
    color: rgba(58, 95, 146, 0.671);
    translate: 18px 0px 50px;
}
